*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
    --primary-font: "Manrope";
    --primary-text-color: #000;
}
body {
    font-family: var(--primary-font);
    font-weight: 500;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
}

.header-top{
    padding-top: 38px;
}

.header-top .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-weight: 700;
    font-style: 20px;
    line-height: calc(25 / 20);
    text-transform: uppercase;
}

.header-menu{
    
}

.header-menu-item{

}

.header-menu-item-link{

}

.header-login{

}

.header-login-signin{

}

.header-login-startfree{

}